* {
    padding: 0;
    margin: 0;
}

.flex-box {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.box {
    box-sizing: border-box;
}

.header {;
    height: 50px;
    border: forestgreen solid 3px;
}

.main {
    display: flex;
    flex-direction: row;
    height: 100%;
    border: mediumblue solid 3px;
}

.main-box {
    box-sizing: border-box;
    border: darkred solid 3px;
    height: 100%;
}

.nav {
    min-width: 60px;
    max-width: 200px;
}

.content {
    width: 100%;
}

.footer {;
    height: 30px;
    border: deeppink solid 3px;
}